body {
    text-align: center;
    /* background image from https://www.toptal.com/designers/subtlepatterns/ */
    background: url('../images/bright_squares_@2X.png');
}


/*
 * Styles for the "Select player" menu
 */

.characters {
    max-width: 505px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
 }

.select-header {
    width: 100%;
    font: 700 25px 'Bungee', sans-serif;
}

.select-player [class*='char-'] {
    width: 20%;
    height: 120px;
}

.char-boy {
    background: url('../images/char-boy.png') bottom/cover;
}

.char-cat-girl {
    background: url('../images/char-cat-girl.png') bottom/cover;
}

.char-horn-girl {
    background: url('../images/char-horn-girl.png') bottom/cover;
}

.char-pink-girl {
    background: url('../images/char-pink-girl.png') bottom/cover;
}

.char-princess-girl {
    background: url('../images/char-princess-girl.png') bottom/cover;
}


/*
 * Styles for the score panel
 */

.score-panel {
    max-width: 505px;
    margin: 185px auto -50px auto;
    display: flex;
    flex-wrap: wrap;
}

.hearts {
    width: 20%;
    color: crimson;
    font-size: 1.8em;
}

.hearts li {
    list-style: none;
    display: inline-block;
}

.score-container,
.level-container {
    width: 35%;
    padding: 6% 0 5% 0;
    font: 700 25px 'Lato', sans-serif;
    text-align: center;
}


/*
 * Styles for the Win/Lose message
 */

.win-lose-message {
    margin: 144px auto 0 auto;
    font: 600 20px 'Lato', sans-serif;
}


/*
 * Used to hide certain elements on webpage
 */
 
.hide {
    display: none;
}